[Stream]
liveChatID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

[OAuth]
token=xxNN.XXXXX_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-XXXX_XXXXXXXXXXXXXXXXXXXXXXXXXXXX-XXXXXXXXXXXXXXXXX